.container-footer{
    margin: 120px 0 0;
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid #2a2a2a ;
}


.container-footer p{
    display: flex;
    align-items: center;
    margin: 0 100px;
}

.nav-footer{
    display: flex;
    align-items: center;
}
.nav-footer ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.nav-footer a{
    text-decoration: none;
    color: #2a2a2a;
}

.nav-footer a:hover{
    font-weight: bold;
}

.logo-fla-footer{
    width: 100px;
}

.logo-fla-footer img {
    width: 100%;
    transition: ease .5s all;
}

.logo-fla-footer img:hover{
    background-color: transparent;
    transform: scale(1.1);
}